@import '../../assets/scss/_variables';

.product-image {
  display: inline-block;
  height: auto;
  margin: 20px;
  padding: 20px 0;
  width: 350px;

  img {
    width: 100%;
    height: auto;
  }
}

.product-description {
    float: right;
    vertical-align: top;
    padding: 50px;
    width: 300px;

    .description {
        font-size: 21px;
        font-weight: bold;
        margin-top: 10px;
    }

    .price {
        font-size: 48px;
        margin-top: 20px;
    }

    button {
        background-color: #3555FF;
        color: #fff;
        border: none;
        height: 40px;
        margin: 30px auto;
        width: 100%;
        text-align: center;
    }
}

.busca-item {
    padding: 20px;

    .descricao {
        h5 {
            font-size: 32px;
            margin: 30px 0 0 0;
            width: 100%;
            text-align: left;
            padding-bottom: 20px;
            border-bottom: 1px solid #ccc;
        }
    }
}

.plain-text {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px !important;
  line-height: 17px;
}
