<div class="loading" *ngIf="!item">Carregando...</div>

<div class="container white" *ngIf="item">
  <div class="busca-item">

    <div class="product-image">
      <img src="{{item.pictures[0].url}}">
    </div>

    <div class="product-description">
      <div class="vendidos">{{item.condition}} - {{item?.sold_quantity}} vendidos</div>
      <div class="description">{{item?.title}}</div>
      <div class="price">{{item?.price | currency:'ARS':true}}</div>
      <button> Comprar </button>
    </div>

    <div class="descricao">
      <h5>Descrição do produto</h5>
      <p class="plain-text">
        {{itemDescription?.plain_text}}
      </p>
    </div>

  </div>
</div>
