<div class="container">
  teste
</div>

<div class="container white">
  <div class="busca-item">

    <div class="product-image">
      <img src="https://sc02.alicdn.com/kf/HTB1sMnXHFXXXXbRaXXXq6xXFXXXB/New-Product-Hot-Selling-Amazon-Phone-Case.jpg_350x350.jpg">
    </div>

    <div class="product-description">
      <div class="vendidos">Novo - 234 vendidos</div>
      <div class="description">Lorem ipsum dolor assit amet</div>
      <div class="price">$1.980,00</div>
      <button> Comprar </button>
    </div>

    <div class="descricao">
      <h5>Descrição do produto</h5>
      <p>
        Lorem ipsum
      </p>
    </div>

  </div>
</div>
