@import '../../../assets/scss/_variables';

.product-image {
  display: inline-block;
  height: 150px;
  margin: 20px;
  padding: 20px 0;
  width: 150px;

  img {
    width: 100%;
    height: auto;
  }
}

.product-description {
    display: inline-block;
    width: 500px;
    vertical-align: top;

    .price {
        font-size: 3rem;
        margin-top: 60px;

        span {
          font-size: 14px;
          float: right;
          margin-top: 19px;
        }
    }

    .description {
        color: $dark-gray-text;
        font-size: 21px;
        margin-top: 20px;
    }
}
