/* You can add global styles to this file, and also import other style files */

html, body {
    background-color: rgb(230, 230, 230);
    font-family: arial;
    margin: 0;
    padding: 0;
}

.container {
    width: 960px;
    margin: auto;
}

.container.white {
    background-color: #fff;
}

.loading {
  background-color: #fff;
  font-size: 21px;
  text-align: center;
  padding: 20px;
}
